testsuite
test/test-hash
test/test-block
test/test-mode
test/test-mac
test/test-stream
test/test-prng
test/test-bignum
test/test-pkenc
test/test-pksig
test/test-kdf
test/test-mem
test/plugin-main
util/*sum
util/daniel
*.d
*.o
*.gen
*.so*
plugins/*
gmon.out
misc/devel
*.pdf
*.ps
*.txml
*.fo
