test/test-hash
test/test-block
test/test-mode
test/test-mac
test/test-stream
test/test-prng
test/test-bignum
test/test-pkenc
test/test-pksig
test/test-kdf
test/test-mem
test/test-ecc
test/plugin-main
test/libmd-testsuite
util/*sum
util/daniel
util/version
include/version.h
include/buildid.h
buildid
*.d
*.o
*.gen
*.so*
plugins/*
gmon.out
tags
misc/devel
*.pdf
*.ps
*.txml
*.fo
